@charset "utf-8"

html {
    font-size: 10px;
    font-family: '맑은 고딕', sas-serif;
}

ul li {
    display: block;
    float: left;
    width: 100px;
    height: 42px;
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
    border: 1px solid #000;
    border-left: 0;
    background-color: gray;
}

.tab1 {
    border-left: 1px solid #000;
}

li:hover {
    background-color: #ffc;
    
}

ul li:after {
    display: block;
    width: 100px;
    height: 42px;
    border: 1px solid gray;
}

.tab1{
    
}

.tab1{
    
}

.tab1{
    
}

.tab4{
    width: 150px;
    white-space: nowrap;
}